<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.ResxTranslator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Microsoft.ResxTranslator.Properties.Settings>
            <setting name="ResxTranslator_TranslatorService_SoapService"
                serializeAs="String">
                <value>http://api.microsofttranslator.com/V2/soap.svc</value>
            </setting>
            <setting name="LocanServiceBaseUrl" serializeAs="String">
                <value>http://localhost:64245</value>
            </setting>
        </Microsoft.ResxTranslator.Properties.Settings>
    </applicationSettings>
</configuration>