<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Locan.IntegrationTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings file="app.config.appSettings.private"/>
  <applicationSettings>
    <Locan.IntegrationTest.Properties.Settings>
      <setting name="Locan_IntegrationTest_BingTranslatorService_SoapService"
        serializeAs="String">
        <value>http://api.microsofttranslator.com/V2/soap.svc</value>
      </setting>
    </Locan.IntegrationTest.Properties.Settings>
  </applicationSettings>
</configuration>